/staging/
/types/
/test/
/dist/
/dist_type/
/docs/API
/docs/examples
/docs/example
*.es.js
*.js.map
node_modules
*.sublime-*
coverage
.DS_Store
.nyc_output
*_generated.js
*_generated.js.map
*/**/*.g.ts
.eslintcache
_batfish_site
_batfish_tmp
_site
yarn-error.log
yarn-debug.log
npm-debug.log
.idea
*.iml
/.vs/
.*.swp
